/* -------------0-600px------------ */
@media (max-width: 900px) {
    header {
        position: relative;
    }

    header nav {
        position: absolute;
        top: 70px;
        right: -30px;

        background-color: #15304c;

        width: 30%;

        display: none;
    }

    header nav li {
        display: block;

        text-align: center;
        font-size: 20px;

        margin: 30px 0;
    }

    .menu-icon {
        display: block;


        color: white;
        font-size: 23px;
    }

    footer {
        padding: 40px 0;
    }

    footer div {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 25px;
    }
}


/* -------------600+px------------ */
@media (min-width: 901px) {
    header nav {
        display: block !important;
    }

    header nav li a:hover {
       color: #699ed5;
    }
}