/* -------------0-600px------------ */
@media (max-width: 600px) {
    header {
        position: relative;
    }

    header nav {
        position: absolute;
        top: 70px;

        background-color: #15304c;

        width: 100%;

        display: none;
    }

    header nav li {
        display: block;

        text-align: center;

        margin: 10px 0;
    }

    .menu-icon {
        display: block;


        color: white;
        font-size: 23px;
    }
}


/* -------------600+px------------ */
@media (min-width: 600px) {
    header nav {
        display: block !important;
    }
}